.button-add {
    display: block;
    width:150px;
    height: 30px;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 10px;
    padding: 1rem;
    border: none;
}

.form-body {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

label {
    width: 100%;
    margin-bottom: 1rem;
}