.button-add {
  width: 150px;
  background-color: #ff8c37;
  color: #fff;
  border: none;
}

.submit-btn {
  display: block;
  margin: 3rem auto;
  width: 150px;
}

.address-serach-btn {
  font-size: 14px;
  border: 1px solid #232323;
  background: #fff;
  color: #232323;
}

.form-body {
  width: 800px;
  margin: 0 auto;
  padding: 2rem;
  .form-details-contents {
    text-align: center;
    padding: 1rem 0;
  }
  .form-body-container {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
      width: 100%;
    }
    .form-item {
      width: 88%;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 1px solid #e1e0e0;
      padding: 1rem 0;
    }
    .required {
      font-size: 12px;
      color: #d92b2b;
      border: 1px solid #d92b2b;
      border-radius: 8px;
      padding: 4px;
      margin-right: 8px;
    }
    input {
      width: 100%;
      border: 1px solid #e1e0e0;
      background: #e1e0e0;
      border-radius: 4px;
      padding: 4px 12px;
    }
    ::placeholder {
      color: #7d7d7d;
    }
    .check-box-area {
      justify-content: center;
      text-align: center;

      input.checkBox {
        width: 22px;
        height: 22px;
        background: #fff;
        display: inline-block;
        margin-right: 1rem;
      }
    }
    .error-msg {
      color: #d92b2b;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
