@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');

:root {
  --input-bg-color: #dbdbdd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  color: #232323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}
ul {
  list-style: none;
}

header, 
main {
  padding: 1rem;
}

main {
  width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  width: 1080px;
  max-width: 1080px;
  margin-left: auto;
  text-align: right;
  nav {
    width: 314px;
    
  }
}

a {
  text-decoration: none;
  color: #232323;
  cursor: pointer;
}

/***
*
*　スペース
*　space
*
***/


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.link-text {
  position: relative;
  color: #0d6efd;
  text-decoration: underline;
}
